html {
    background: url('background-img.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

body {
    margin: 10%;
    border-radius: 10px;
}

.page-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

h1.main-title {
    font-family: 'Gloock', serif;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
}

h3.subtitle {
    font-family: 'Rubik', sans-serif;
    color:rgb(118, 118, 118);
    font-size: 1.5vw;    
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.evolution-graph {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1.5%;
}

.table-body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: dimgrey;
    background-color: #F0F8FF;
    font-weight: 500;
    font-size: 0.9vw;

}

.th-header {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #008080;
    color: white;
    font-size: 0.9vw;
    font-weight: 600;
    border: 2px solid black;
  }

.dropdowns-container {
    justify-content: center; 
    display: flex;
    margin: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.button-next {
    height: 3.1vw;
    width: 15vw;
    border-radius: 10px;
    color: antiquewhite;
    background-color: teal;
    border-color: teal;
}

.button-next:hover {
    color: black;
    background-color: rgb(80, 190, 190);
    border-color: rgb(80, 190, 190);
}

label {
    padding-right: 1.5%;
}

.label-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5%;
    margin: auto;
    width: 30vw;
    font-size: 12px;
}