html {
    background: url('background-img.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-size: 100vw; */
    /* height: 100vh; */
 }

body {
    margin: 10%;
    border-radius: 10px;
}

.page-container {
    background-color: rgb(255, 255, 255);
    /* margin: 5% 10% 10% 10%; */
    /* height: 85%; */
    border-radius: 10px;
}

h1.main-title {
    font-family: 'Gloock', serif;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
}

h3.subtitle {
    font-family: 'Rubik', sans-serif;
    color:rgb(118, 118, 118);
    font-size: 1.5vw;    
    text-align: center;
    padding-top: 5%;
}

.evolution-graph {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1.5%;
}

.table-body {
    background-color: #F0F8FF;
    font-weight: 600;

}

.th-header {
    background-color: #008080;
    color: white;
  }

.dropdowns-container {
    justify-content: center; 
    display: flex;
    margin: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.button-next {
    height: 3.1vw;
    width: 10vw;
    border-radius: 10px;
    color: antiquewhite;
    background-color: teal;
    border-color: teal;
}

.button-next:hover {
    color: black;
    background-color: rgb(80, 190, 190);
    border-color: rgb(80, 190, 190);
}